@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

.title-container{
    display: flex;
    flex: 1 1 1 1;
    flex-direction: row;
}
.title{
    font-family: 'Kaushan Script', cursive;
}
.link-container{
    display: flex;
    flex:1;
    flex-direction: row;
}
.link{
    color: white;
    text-decoration: none;
}
.link:hover{
    color: orange
}
.link-title{
    font-size: 20px;
    margin: 0;
}